openapi: "3.0.3"

info:
  title: Media Hub API
  version: "1.0.0"
  description: |
    ## Visão Geral

    O **Media Hub** é um serviço de processamento e armazenamento de mídia multi-tenant.
    Ele aceita qualquer tipo de arquivo (vídeo, imagem, áudio, genérico), processa em background
    e disponibiliza os resultados via CDN com streaming HLS adaptativo para vídeos.

    ### Como funciona

    ```
    POST /v1/uploads          → Cria sessão de upload
    POST /v1/uploads/:id/files → Envia arquivo(s) → enfileira processamento
    GET  /v1/uploads/:id       → Consulta status (polling)
    GET  /v1/files/:fileId     → Obtém metadata e URLs processadas
    ```

    ### Processamento de Vídeo (HLS Adaptativo)

    Vídeos são convertidos em múltiplas qualidades via FFmpeg e disponibilizados como HLS:

    | Qualidade | Resolução | Bitrate |
    |-----------|-----------|---------|
    | 360p | 640×360 | 800k |
    | 720p | 1280×720 | 2500k |
    | 1080p | 1920×1080 | 5000k |
    | 4K | 3840×2160 | 15000k (se disponível na fonte) |

    As qualidades são geradas apenas se o arquivo original tiver resolução suficiente
    (sem upscale). O `master.m3u8` permite que players como HLS.js e Video.js
    selecionem automaticamente a melhor qualidade para o dispositivo.

    ### Processamento por Tipo de Mídia

    | Tipo | Processamento | Outputs |
    |------|--------------|---------|
    | `video` | FFmpeg → HLS multi-bitrate + thumbnail | `hls_master`, `hls_360p`, `hls_720p`, `hls_1080p`, `hls_4k`, `thumb` |
    | `image` | Sharp → resize | `original`, `thumb_320`, `thumb_720` |
    | `audio` | FFmpeg → MP3 normalizado | `mp3` |
    | `generic` | Passthrough | `url` |

    ### Autenticação

    Existem dois níveis de autenticação:

    - **API Key (Bearer)** — Para endpoints de upload e consulta de mídia. Obtida via Admin API.
    - **Admin Key (Bearer)** — Para gerenciamento de tenants e API Keys. Configurada via env var `ADMIN_KEY`.

    ```
    Authorization: Bearer mh_tenant-slug_<hex>
    ```

    ### Webhooks (Callbacks)

    Ao criar um upload com `callback_url`, o sistema faz um POST quando o processamento de
    cada arquivo finaliza:

    ```json
    {
      "event": "file.processed",
      "upload_id": "uuid",
      "file_id": "uuid",
      "status": "done",
      "processed_urls": { ... }
    }
    ```

    O callback inclui o header `X-Media-Hub-Signature: sha256=<hmac>` se `callback_secret`
    foi fornecido. Tentativas: 3 (backoff exponencial: 1s → 10s → 60s).

  contact:
    name: Digital AI
    url: https://digital-ai.tech
  license:
    name: Proprietário — Digital AI
    url: https://digital-ai.tech

servers:
  - url: https://media.digital-ai.tech
    description: Produção

tags:
  - name: Health
    description: Verificação de status do serviço
  - name: Uploads
    description: Criação e gerenciamento de sessões de upload
  - name: Files
    description: Consulta e exclusão de arquivos processados
  - name: Admin — Tenants
    description: Gerenciamento de tenants (requer ADMIN_KEY)
  - name: Admin — API Keys
    description: Geração e revogação de API Keys (requer ADMIN_KEY)

# ─────────────────────────────────────────────────────────────────
# SECURITY SCHEMES
# ─────────────────────────────────────────────────────────────────
components:
  securitySchemes:
    ApiKey:
      type: http
      scheme: bearer
      description: |
        API Key do tenant. Formato: `mh_<slug>_<hex64>`.
        Gerada via `POST /v1/admin/tenants/:id/keys`.
    AdminKey:
      type: http
      scheme: bearer
      description: |
        Chave de administração. Configurada via env var `ADMIN_KEY` no servidor.
        Não é uma API Key de tenant — é uma chave fixa de operação.

  # ─────────────────────────────────────────────────────────────────
  # SCHEMAS
  # ─────────────────────────────────────────────────────────────────
  schemas:

    # ── Enums ──────────────────────────────────────────────────────
    MediaType:
      type: string
      enum: [image, video, audio, generic]
      description: Tipo de mídia detectado pelo serviço baseado no MIME type

    FileStatus:
      type: string
      enum: [pending, queued, processing, done, failed]
      description: |
        - `pending` — criado, aguardando upload do arquivo
        - `queued` — arquivo enviado ao S3, aguardando fila
        - `processing` — worker processando
        - `done` — processamento concluído, URLs disponíveis
        - `failed` — processamento falhou (ver `error_message`)

    UploadStatus:
      type: string
      enum: [pending, processing, done, partial, failed]
      description: |
        Status agregado da sessão de upload.
        - `partial` — alguns arquivos processados, outros ainda pendentes

    # ── ProcessedUrls ──────────────────────────────────────────────
    ProcessedUrls:
      type: object
      description: URLs dos arquivos processados, presentes quando `status = done`
      properties:
        # Vídeo — HLS adaptativo
        hls_master:
          type: string
          format: uri
          description: URL do manifest HLS master (para players adaptativos)
          example: "https://cdn.digital-ai.tech/media-hub/tenant/processed/upload-id/file-id/hls/master.m3u8"
        hls_360p:
          type: string
          format: uri
          description: URL do manifest HLS 360p
        hls_720p:
          type: string
          format: uri
          description: URL do manifest HLS 720p
        hls_1080p:
          type: string
          format: uri
          description: URL do manifest HLS 1080p
        hls_4k:
          type: string
          format: uri
          description: URL do manifest HLS 4K (gerado apenas se fonte for 4K)
        thumb:
          type: string
          format: uri
          description: URL do thumbnail do vídeo (JPEG, 1280px)
        # Imagem
        original:
          type: string
          format: uri
          description: URL da imagem original otimizada
        thumb_320:
          type: string
          format: uri
          description: URL do thumbnail 320px (imagem)
        thumb_720:
          type: string
          format: uri
          description: URL do thumbnail 720px (imagem)
        # Áudio
        mp3:
          type: string
          format: uri
          description: URL do áudio convertido para MP3 (192kbps)
        # Genérico
        url:
          type: string
          format: uri
          description: URL do arquivo genérico no CDN

    # ── File ───────────────────────────────────────────────────────
    File:
      type: object
      properties:
        file_id:
          type: string
          format: uuid
        upload_id:
          type: string
          format: uuid
        original_name:
          type: string
          example: "video-campanha.mp4"
        media_type:
          $ref: '#/components/schemas/MediaType'
        mime_type:
          type: string
          example: "video/mp4"
        size_bytes:
          type: integer
          nullable: true
          example: 157286400
        status:
          $ref: '#/components/schemas/FileStatus'
        processed_urls:
          $ref: '#/components/schemas/ProcessedUrls'
          nullable: true
        error_message:
          type: string
          nullable: true
        processing_started_at:
          type: string
          format: date-time
          nullable: true
        processing_done_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

    # ── Upload ─────────────────────────────────────────────────────
    Upload:
      type: object
      properties:
        upload_id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/UploadStatus'
        files_count:
          type: integer
          description: Número de arquivos enviados nesta sessão
        external_ref:
          type: string
          nullable: true
          description: Referência externa do seu sistema
        metadata:
          type: object
          additionalProperties: true
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        files:
          type: array
          items:
            $ref: '#/components/schemas/File'

    # ── Tenant ─────────────────────────────────────────────────────
    Tenant:
      type: object
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
          pattern: '^[a-z0-9-]{2,64}$'
          example: "meu-cliente"
        name:
          type: string
          example: "Meu Cliente Ltda"
        scopes:
          type: array
          items:
            type: string
            enum: [media:upload, media:read, media:delete]
          nullable: true
        is_active:
          type: boolean
        active_keys:
          type: string
          description: Número de API Keys ativas (retornado apenas na listagem)
          example: "1"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ── ApiKey ─────────────────────────────────────────────────────
    ApiKeyPublic:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        key_prefix:
          type: string
          example: "mh_meu-cliente_"
        label:
          type: string
          nullable: true
          example: "producao"
        scopes:
          type: array
          items:
            type: string
          nullable: true
        last_used_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        revoked_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [active, revoked, expired]

    # ── Errors ─────────────────────────────────────────────────────
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          example: "NOT_FOUND"
        message:
          type: string
          example: "File not found"
        errors:
          type: object
          description: Detalhes de erros de validação por campo (apenas em 422)
          additionalProperties:
            type: array
            items:
              type: string

# ─────────────────────────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────────────────────────
paths:

  # ── HEALTH ───────────────────────────────────────────────────────
  /v1/health:
    get:
      tags: [Health]
      summary: Health check público
      description: Retorna status do serviço. Não requer autenticação.
      operationId: getHealth
      responses:
        "200":
          description: Serviço operacional
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  timestamp:
                    type: string
                    format: date-time

  /v1/health/auth:
    get:
      tags: [Health]
      summary: Health check autenticado
      description: |
        Verifica se a API Key é válida e retorna o tenant autenticado.
        Útil para validar credenciais antes de iniciar integrações.
      operationId: getHealthAuth
      security:
        - ApiKey: []
      responses:
        "200":
          description: API Key válida
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  tenant:
                    type: string
                    example: "meu-cliente"
                  scopes:
                    type: array
                    items:
                      type: string
                    example: ["media:upload", "media:read"]
        "401":
          description: API Key inválida ou ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── UPLOADS ──────────────────────────────────────────────────────
  /v1/uploads:
    post:
      tags: [Uploads]
      summary: Criar sessão de upload
      description: |
        Cria uma sessão de upload. Uma sessão pode conter múltiplos arquivos
        (ex: todas as mídias de uma campanha).

        Após criar a sessão, envie os arquivos via
        `POST /v1/uploads/:uploadId/files`.

        Se `callback_url` for fornecida, o servidor notificará via POST quando
        cada arquivo for processado.
      operationId: createUpload
      security:
        - ApiKey: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                external_ref:
                  type: string
                  maxLength: 256
                  nullable: true
                  description: |
                    Referência do seu sistema (ex: ID do projeto, campanha, post).
                    Retornada em todas as consultas — útil para rastreamento.
                  example: "campanha-verao-2026"
                callback_url:
                  type: string
                  format: uri
                  nullable: true
                  description: |
                    URL para receber notificação quando o processamento finalizar.
                    Método: POST com body JSON.
                  example: "https://seu-backend.com/webhooks/media-hub"
                callback_secret:
                  type: string
                  maxLength: 128
                  nullable: true
                  description: |
                    Secret para validação HMAC do webhook.
                    Se fornecido, o header `X-Media-Hub-Signature: sha256=<hmac>`
                    será incluído no callback.
                  example: "meu-secret-hmac"
                metadata:
                  type: object
                  additionalProperties: true
                  nullable: true
                  description: Metadados arbitrários para associar ao upload
                  example:
                    client_id: "12345"
                    campaign: "verao-2026"
      responses:
        "201":
          description: Sessão criada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  upload_id:
                    type: string
                    format: uuid
                  status:
                    $ref: '#/components/schemas/UploadStatus'
                  created_at:
                    type: string
                    format: date-time
        "401":
          description: API Key inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: Parâmetros inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/uploads/{uploadId}/files:
    post:
      tags: [Uploads]
      summary: Enviar arquivo para processamento
      description: |
        Envia um arquivo para a sessão de upload. O arquivo é transmitido
        diretamente para o storage sem buffer em memória (streaming).

        Após o upload, o arquivo é enfileirado para processamento assíncrono.
        Use `GET /v1/uploads/:uploadId` para consultar o progresso.

        **Tipos suportados:**
        - Vídeo: `video/mp4`, `video/quicktime`, `video/x-msvideo`, `video/webm`, etc.
        - Imagem: `image/jpeg`, `image/png`, `image/webp`, `image/gif`, etc.
        - Áudio: `audio/mpeg`, `audio/wav`, `audio/ogg`, etc.
        - Genérico: qualquer outro tipo (passthrough para CDN)

        **Tamanho:** Sem limite configurado — suportado por streaming.
        Arquivos de 4K/8K e vídeos de longa duração são suportados.
      operationId: uploadFile
      security:
        - ApiKey: []
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Arquivo de mídia a ser processado
      responses:
        "202":
          description: Arquivo aceito e enfileirado para processamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  file_id:
                    type: string
                    format: uuid
                  upload_id:
                    type: string
                    format: uuid
                  original_name:
                    type: string
                  media_type:
                    $ref: '#/components/schemas/MediaType'
                  status:
                    type: string
                    example: "queued"
        "400":
          description: Nenhum arquivo enviado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: API Key inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Upload não encontrado ou não pertence ao tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/uploads/{uploadId}:
    get:
      tags: [Uploads]
      summary: Consultar status do upload
      description: |
        Retorna o status da sessão de upload e de todos os arquivos enviados.

        **Polling recomendado:** A cada 2-5 segundos enquanto `status != done`.

        Quando `processed_urls` estiver presente no arquivo, o processamento
        daquele arquivo foi concluído e as URLs estão prontas para uso.
      operationId: getUpload
      security:
        - ApiKey: []
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Status do upload com lista de arquivos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
        "401":
          description: API Key inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Upload não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── FILES ─────────────────────────────────────────────────────────
  /v1/files/{fileId}:
    get:
      tags: [Files]
      summary: Obter metadata de um arquivo
      description: |
        Retorna os metadados completos de um arquivo, incluindo as URLs
        processadas quando o status for `done`.

        Use `processed_urls.hls_master` para players de vídeo HLS
        (HLS.js, Video.js, Shaka Player).
      operationId: getFile
      security:
        - ApiKey: []
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Metadata completa do arquivo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        "401":
          description: API Key inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Arquivo não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags: [Files]
      summary: Deletar arquivo
      description: |
        Remove o arquivo do banco de dados e tenta excluir do storage S3
        (best-effort — não falha se S3 retornar erro).

        Requer scope `media:delete` na API Key.
      operationId: deleteFile
      security:
        - ApiKey: []
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Arquivo deletado com sucesso
        "401":
          description: API Key inválida ou sem scope media:delete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Scope insuficiente (media:delete necessário)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Arquivo não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── ADMIN — TENANTS ───────────────────────────────────────────────
  /v1/admin/tenants:
    get:
      tags: [Admin — Tenants]
      summary: Listar todos os tenants
      description: Retorna todos os tenants cadastrados com contagem de API Keys ativas.
      operationId: listTenants
      security:
        - AdminKey: []
      responses:
        "200":
          description: Lista de tenants
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenants:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant'
        "401":
          description: Admin Key inválida ou ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "503":
          description: Admin API não configurada no servidor (ADMIN_KEY não definida)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags: [Admin — Tenants]
      summary: Criar tenant
      description: |
        Cria um novo tenant. O `slug` deve ser único e é usado como prefixo
        das API Keys geradas para este tenant (`mh_<slug>_<hex>`).
      operationId: createTenant
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug, name]
              properties:
                slug:
                  type: string
                  pattern: '^[a-z0-9-]{2,64}$'
                  description: Identificador único. Apenas letras minúsculas, números e hífens.
                  example: "cliente-xyz"
                name:
                  type: string
                  minLength: 1
                  maxLength: 256
                  description: Nome completo do tenant
                  example: "Cliente XYZ Ltda"
                scopes:
                  type: array
                  items:
                    type: string
                    enum: [media:upload, media:read, media:delete]
                  nullable: true
                  description: |
                    Scopes padrão para as API Keys geradas para este tenant.
                    Se omitido, as keys herdam todos os scopes.
                  example: ["media:upload", "media:read"]
      responses:
        "201":
          description: Tenant criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        "401":
          description: Admin Key inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Já existe um tenant com este slug
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: Campos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── ADMIN — API KEYS ──────────────────────────────────────────────
  /v1/admin/tenants/{tenantId}/keys:
    get:
      tags: [Admin — API Keys]
      summary: Listar API Keys de um tenant
      description: |
        Retorna todas as API Keys do tenant (ativas, revogadas e expiradas).
        O valor da key em si nunca é retornado — apenas o prefixo e metadados.
      operationId: listApiKeys
      security:
        - AdminKey: []
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Lista de API Keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenant_id:
                    type: string
                    format: uuid
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKeyPublic'
        "401":
          description: Admin Key inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Tenant não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: tenantId inválido (não é UUID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags: [Admin — API Keys]
      summary: Gerar API Key para tenant
      description: |
        Gera uma nova API Key para o tenant. O valor completo da key (`key`)
        é retornado **apenas nesta resposta** — salve imediatamente.
        Não é possível recuperá-la depois.

        Formato da key: `mh_<tenant-slug>_<64-hex-chars>`
      operationId: createApiKey
      security:
        - AdminKey: []
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  maxLength: 128
                  nullable: true
                  description: Rótulo para identificar o uso desta key
                  example: "producao-backend"
                scopes:
                  type: array
                  items:
                    type: string
                    enum: [media:upload, media:read, media:delete]
                  nullable: true
                  description: |
                    Scopes desta key específica.
                    Se omitido, herda os scopes do tenant.
      responses:
        "201":
          description: API Key gerada — salve o campo `key` imediatamente
          content:
            application/json:
              schema:
                type: object
                required: [key_id, key, prefix, created_at]
                properties:
                  key_id:
                    type: string
                    format: uuid
                    description: ID da key para gerenciamento
                  key:
                    type: string
                    description: |
                      Valor completo da API Key. **Mostrado apenas uma vez.**
                    example: "mh_cliente-xyz_5fecb79c9ca1fd56f7d929b37a6ce3dc21d9be4eb277e6eed1e7d6d4c14d596b"
                  prefix:
                    type: string
                    description: Prefixo visível (seguro para logs)
                    example: "mh_cliente-xyz_"
                  label:
                    type: string
                    nullable: true
                  scopes:
                    type: array
                    items:
                      type: string
                    nullable: true
                  created_at:
                    type: string
                    format: date-time
        "401":
          description: Admin Key inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Tenant não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: tenantId inválido ou body inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/admin/keys/{keyId}:
    delete:
      tags: [Admin — API Keys]
      summary: Revogar API Key
      description: |
        Revoga uma API Key imediatamente. Requisições usando a key revogada
        recebem 401 a partir do próximo request.

        A operação é idempotente do ponto de vista da key, mas retorna 404
        se já estava revogada (para distinguir de "não existe").
      operationId: revokeApiKey
      security:
        - AdminKey: []
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Key revogada com sucesso
        "401":
          description: Admin Key inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Key não encontrada ou já revogada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: keyId inválido (não é UUID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
